/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.parallel
/.profile
/.ssh
/.vscode-server
/.vscode-server-insiders
/.wget-hsts
/dead.letter
/initaltest
/mySimul
/penelope_peneasy
/simul1
/simul2
/work
/yedek